<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe?.imagePath"
      class="img-responsive"
      style="max-width: 150px; max-height: 150px"
      alt="{{ recipe?.imagePath }}"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe?.name }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        class="btn btn-primary dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage
      </button>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
          <a (click)="onAddToShoppingList()" class="dropdown-item" href="#"
            >To Shopping List</a
          >
        </li>
        <li><a class="dropdown-item" href="#">Edit</a></li>
        <li><a class="dropdown-item" href="#">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe?.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingre of recipe?.ingredients">
        {{ ingre.name }} - {{ ingre.amount }}
      </li>
    </ul>
  </div>
</div>
