<div class="row">
	<div class="col-xs-12">
		<img src="" class="img-responsive" alt="" />
	</div>
</div>
<div class="row">
	<div class="col-xs-12">Recipe Name</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-group">
			<div class="nav-item dropdown">
				<button
					class="btn btn-primary dropdown-toggle"
					href="#"
					id="navbarDropdown"
					role="button"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				>
					Manage
				</button>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#">To Shopping List</a></li>
					<li><a class="dropdown-item" href="#">Edit</a></li>
					<li><a class="dropdown-item" href="#">Delete</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">Descritpion</div>
</div>
<div class="row">
	<div class="col-xs-12">something more</div>
</div>
