<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <div class="table-responsive">
        <table class="table">
          <tr
            style="cursor: pointer"
            *ngFor="
              let ingre of (ingredients | async)?.ingredients;
              let i = index
            "
            (click)="onEditItem(i)"
          >
            <td scope="row" class="width:50">{{ i }}</td>
            <td>{{ ingre.name }}</td>
            <td>{{ ingre.amount }}</td>
          </tr>
        </table>
      </div>
    </ul>
  </div>
</div>
